<% provide(:title, "Log in") %>

<%= form_for :sessions, url: login_path do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control', value: 'sample@sample.com' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', value: 'password' %>
  
  <%= f.submit "Log in", class: 'form-control' %>

<% end %>

<p>New user? <%= link_to "Sign up here", new_user_path %></p>