<% provide(:title, @post.title.truncate(20)) %>

<%= render 'shared/follow_unfollow' %>

<%= render 'shared/edit_delete_links' %>

<div class="center jumbotron">
  <h2>
    <%= @post.title %> --
    <%= @post.created_at.strftime("%B %-d, %Y") %>  
  </h2>
  <div class="post-text">
    <%= simple_format @post.body %>
    <!-- simple_format is a helper which formats the text into HTML using basic
         rules.  Without this the line breaks are not preserved and text turns
         into one big blob.  More info here:
         http://api.rubyonrails.org/classes/ActionView/Helpers/
         TextHelper.html#method-i-simple_format -->
  </div>
  
  <%= render 'comments/comment_form' %>
</div>

<div id="comment-area">
  <% @comments.each do |comment| %>
    <p>
      <% commentor = User.find(comment.user_id) %>
      <%= comment.comment_text %> <br />
      <%= comment.created_at.strftime("%B %-d, %Y") %>
      <%= link_to commentor.user_name, user_posts_path(comment.user_id) %>
      <% if logged_in? && authorized_user?(commentor.id) %>
        <%= link_to "Delete comment?", delete_comment_path(comment.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
</div>