<% provide(:title, "#{@user.user_name}s posts") %>

<%= render 'shared/follow_unfollow' %>

<%= will_paginate @user_posts %>

<% @user_posts.order(created_at: :desc).each do |post| %>
  <h4>
    <%= link_to post.title, post_path(post.id) %> --
    <%= post.created_at.strftime("%B %-d, %Y") %>  
  </h4>
  
  <% @post = post %> <!-- _edit_delete_links needs an @post variable -->
  <%= render 'shared/edit_delete_links' %>
  
  <p><%= simple_format post.body.truncate(500) %></p>
<% end %>